    <style>
        body {
            background-color: #000000; /* Space black */
            color: #ffffff; /* White font */
        }
    </style>
<body class="font-sans">
    <div class="container mx-auto p-8">
        <section class="text-center p-6 rounded-lg">
            <h1 class="font-bold text-5xl mt-4 text-[#83cd29] italic">Hello, we are Kerchtech!</h2>
            <h3 class="text-4xl mt-60">Transforming Your Online Presence</h3>
            <p class="mt-4 text-lg">Custom Web Design That Drives Results for Small Businesses</p>
            <!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ2Jej-wqio0vaqKGLcVOi5QCWp2toD7ONeDqI0CEV0_2SWEYgZxEB9v1FGO5ET7YdGubL5nRtOx?gv=true',
      color: '#4cff4f',
      label: 'Book an appointment',
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
        </section>

        <section class="mt-80 text-center bg-gray pb-60 rounded-lg">
            <text-box class="m-20">
            <h4 class="text-3xl">Is your outdated website costing you customers?</h4>
            <p class="mt-2">In today's digital age, a poorly designed website can cost you customers and revenue. <br> Don't let outdated technology or confusing layouts stand in the way of your success. We create modern, mobile-friendly websites that convert visitors into clients.</p>
            </text-box>
            <%= image_tag 'studio.png', alt: 'Description of the image' %>
        </section>

        <section class="mt-12 text-center bg-gray pb-60 rounded-lg">
            <h2 class="text-4xl font-bold">Web Design Services</h2>
            <h3 class="text-xxl mt-4">We Create Tailor-Made Websites That Perfectly Align with Your Brand and Business Goals.</h3>
            <div class="mt-4 grid grid-cols-1 md:grid-cols-3 gap-4"> <!-- Adjusted to use grid layout -->
                <div> <!-- Added a wrapper for each column -->
                    <h4 class="text-2xl">Responsive Design</h4>
                    <p>We build mobile-first, responsive websites that look and function flawlessly on all devices.</p>
                </div>
                <div> <!-- Added a wrapper for each column -->
                    <h4 class="text-2xl mt-4">E-commerce</h4>
                    <p>We develop secure, user-friendly e-commerce platforms with payment gateways.</p>
                </div>
                <div> <!-- Added a wrapper for each column -->
                    <h4 class="text-2xl mt-4">CMS (Content Management System)</h4>
                    <p>We implement and customize Content Management Systems solutions like WordPress.</p>
                </div>
                <div> <!-- Added a wrapper for each column -->
                    <h4 class="text-2xl mt-4">SEO & Performance</h4>
                    <p>SEO, content optimization, and performance tuning to ensure your site ranks well and loads quickly.</p>
                </div>
                <div> <!-- Added a wrapper for each column -->
                    <h4 class="text-2xl mt-4">Progressive Web Apps</h4>
                    <p>We develop PWAs that offer a native app-like experience on the web, combining the best of web and mobile apps.</p>
                </div>
            </div>
        </section>

        <section class="mt-12 text-center bg-gray pb-40 rounded-lg">
            <h2 class="text-4xl font-bold">Projects</h2>
            <h3 class="text-3xl mt-4">Check out some of our recent projects:</h3>
            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"> <!-- Adjusted to use grid layout -->
                <div>
                    <%= video_tag 'screen.mov', controls: true, autoplay: true, loop: true, class: 'w-full h-auto' %>
                </div>
                <div>
                    <%= image_tag 'pura.png', class: 'w-full h-auto' %>
                </div>
                <div>
                    <%= image_tag 'piveu.png', class: 'w-full h-auto' %>
                </div>
                <div>
                    <%= image_tag 'pres.png', class: 'w-full h-auto' %>
                </div>
            </div>
        </section>

        <section class="mt-12 text-center bg-gray pb-40 rounded-lg">
            <h2 class="text-4xl font-bold">What Our Clients Say</h2>
            <div class="famewall-embed" data-src="kerchtech" data-format="slider" style="width:100%;"></div>
            <script type="text/javascript" src="https://embed.famewall.io/frame.js" defer></script>
        </section>





<div class="bg-white p-4"> <!-- Set the background color here -->
    <!-- Google Calendar Appointment Scheduling begin -->
    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2Jej-wqio0vaqKGLcVOi5QCWp2toD7ONeDqI0CEV0_2SWEYgZxEB9v1FGO5ET7YdGubL5nRtOx?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
    <!-- end Google Calendar Appointment Scheduling -->
</div>





    <footer class="bg-black z-30">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Contact</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="https://api.whatsapp.com/send?phone=+34633975337&text=Hola%20vengo%20de%20la%20web%20de%20descarao!" class="hover:underline">Whatsapp</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">fede@kerchtech.com</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Follow us</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="https://www.instagram.com/descaraostudio/" class="hover:underline ">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCAYxs-RgTc21mkuvO3Bo45A" class="hover:underline">Youtube</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Legal</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
                    <li>Payments: Stripe</li>
                <li>Phone: +447862690778</li>
                <li>Email: <a href="mailto:luis@codecandy.io" class="text-[#83cd29] hover:underline">luis@codecandy.io</a></li>
                <li>Address: Essex | London</li>
            <span class="text-sm text-gray-500 sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">kerchtech™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/profile.php?id=61554442658021" class="text-gray-500 hover:text-gray-900 hover:text-white">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://www.instagram.com/descaraostudio/" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                    </svg>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://www.youtube.com/channel/UCAYxs-RgTc21mkuvO3Bo45A" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 550 512">
                        <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
                    </svg>
                    <span class="sr-only">Youtube</span>
                </a>
                <a href="https://www.linkedin.com/company/descarao" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                        <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
                    </svg>
                    <span class="sr-only">Linkedin</span>
                </a>
            </div>
        </div>
    </div>
</footer>
    </div>